@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --green: #86C232;
    --dgreen: #61892F;
    --grey: #333;
    --white: #fff;
    --gray: #474B4F;
}

/*Primary*/
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0; 
}

body{
    font-family: 'Lato', sans-serif;
    color:var(--grey);
    line-height: 1.6;
    background-color:#222629;
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: var(--grey);
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}


img {
    width: 100%;
}

/* Navbar*/
.navbar{
    background-color: var(--green);
    color: var(--white);
    height: 70px;
}

.navbar ul {
    display: flex;
}
.navbar a{
    color: var(--white);
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover{
    border-bottom: 2px var(--white) solid;
}

.navbar .flex {
    justify-content: space-between;
}

/*Showcase*/
.showcase {
    height: 400px;
    background-color:var(--green); 
    color: var(--white);
    position: relative;
}

.showcase h1{
    font-size: 40px;
}

.showcase p{
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form{
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'], .showcase-form input[type='email']{
    background-color: var(--gray);
    border: 0;
    border-bottom: 1px solid #6B6E70;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

.showcase::before, .showcase::after{
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: var(--dgreen);
    transform: skewY(-1.8deg);
    -webkit-transform: skewY(-1.8deg);
    -moz-transform: skewY(-1.8deg);
    -ms-transform: skewY(-1.8deg);
}

/*Stats*/
.stats {
    color: var(--white);
    padding-top: 100px;
}

.stats-heading{
    margin: auto;
}

.stats .grid h3{
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* CLI */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid >*:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}